<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net40" />
  <package id="Crystal.Reports.Essentials" version="13.0.15.1840" targetFramework="net40" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net40" />
  <package id="CrystalDecisions.Web" version="1.0.1" targetFramework="net40" />
  <package id="dojo" version="1.10.4" targetFramework="net40" />
  <package id="MicosoftReportViewerWebForms_v11" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.2012.Runtime" version="11.0.3452.0" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Web.2012" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Windows" version="11.0.3452" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="11.0.2" targetFramework="net40" />
  <package id="MicrosoftReportViewerWebForms" version="11.0.0.0" targetFramework="net40" />
  <package id="ReportViewerCommon" version="11.0.0.0" targetFramework="net40" />
</packages>