/* Tycho CSS Document */
body
{
	background-color:#021929;
	text-align:center;
	font-family:宋体;
	font-size:12pt;
	color:White;

}

div
{
		margin:2px;
}
div.main
{
	float:left;
	width:800px;

}
div.cmd
{
	width:980px;
	height:20px;
	text-align:left;
	margin:5px;
}
div.cmd input
{
	background-color:Coral;
	border-style:none;
	cursor:hand;
}
div.menu input
{
	background-color:Coral;
	border-style:none;
	cursor:hand;
}

div.cmd input:hover
{
	background-color:White;
}

div.banner1
{
	background-image:url(image/banner.jpg);
	background-color:#021929;
	background-repeat:no-repeat;
	text-align:left;
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	width:980px;
	margin:auto;


	
}
div.list1
{
	width:230px;
	height:464px;
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	float:left;
	text-align:left;
    margin-left:8px;

	}
div.list1_kc
{
	width:345px;
	height:325px;
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	float:left;
	text-align:left;
    margin-left:0px;
    margin-top:0px;

	}
div.detail
{
	width:540px;
	height:464px;
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
		float:left;
	margin-left:8px;

}
div.detail_kc
{
	width:980px;
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	margin-left:8px;

}
div table
{
	border-collapse:collapse;border-spacing:0;border-left:0px solid #888;border-top:0px solid #888;
}
div th,td
{
	border-right:0px solid #888;border-bottom:0px solid #888;
}
div th
{
	font-weight:bold;background:#20487C;border-top:1px solid #888;
}
div.map
{
	float:left;
}
div.map_rim
{
	float:left;
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
}
div.map1
{
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	width:780px;
}
div.map2
{
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	height:286px;
	width:780px;
}
div.map3
{
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	height:294px;
	width:420px;
	float:left;
}
div.map3_kc
{
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	height:325px;
	width:629px;
	float:left;
	margin-left:0px;
	margin-right:0px;	
	margin-top:0px;
}
div.map4
{
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	height:294px;
	width:354px;
	float:left;
}
div.logo
{
	clear:left;
}
div.logo span
{
	font-size: 9pt; 
	color: #ffffff; 
	text-align: right;
	position:relative;
	top:3px;
}	
div.logo img
{
	vertical-align: bottom; 
	text-align: left;
	Width: 52px;	
}
#loginBg
{
	background-image:url(image/bg.jpg);
	background-repeat:no-repeat;
	background-position:center;
	height:540px;
	margin-top:100px;
	
}
#loginDlg
{
	width:270px;
	text-align:center;
    border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	position:relative;
	top:-400px;
	margin:auto;
}
div.wheel
{
    border-style:solid;
	border-width:1px;
	border-color:#5698F3;
    height     :248px;
	clear:left;
	margin-left:8px;
	margin-right:48px;
	padding-top:0px;

}
div.zxj
{
  border-style:solid;
  border-width:1px;
  border-color:Navy;
  margin:0px;
  padding:0px;
	float:left;
}
/*默认车型*/
div.zxj_head_1
{
	background-image: url(image/js1.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
}
div.zxj_head_1_1 div
{
	position:relative;
	top:82px;
	left:25px;
	font-family:Impact;
	font-size:9pt;
}
div.zxj_head_1_2 div
{
	position:relative;
	top:78px;
	left:25px;
	font-family:Impact;
	font-size:9pt;
}
div.zxj_head_2
{
	background-image: url(image/js1.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
	filter: FlipH;
}
div.zxj_head_2_1 div
{
	position:relative;
	top:82px;
	left:-25px;
	font-family:Impact;
	font-size:9pt;
}
div.zxj_head_2_2 div
{
	position:relative;
	top:78px;
	left:-25px;
	font-family:Impact;
	font-size:9pt;
}
/*DF4D*/
div.zxj_DF4D_1
{
	background-image: url(image/DF4D.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
}
div.zxj_DF4D_1_1 div
{
	position:relative;
	top:76px;
	left:-10px;
	font-family:Impact;
	font-size:9pt;
}
div.zxj_DF4D_1_2 div
{
	position:relative;
	top:70px;
	left:-6px;
	font-family:Impact;
	font-size:9pt;
}
div.zxj_DF4D_2
{
	background-image: url(image/DF4D.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
	filter: FlipH;
}
div.zxj_DF4D_2_1 div
{
	position:relative;
	top:76px;
	left:4px;
	font-family:Impact;
	font-size:9pt;
}
div.zxj_DF4D_2_2 div
{
	position:relative;
	top:70px;
	left:8px;
	font-family:Impact;
	font-size:9pt;
}
/*SS7E*/
div.zxj_SS7E_1
{
	background-image: url(image/SS7E.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
}
div.zxj_SS7E_1_1 div
{
	position:relative;
	top:70px;
	left:-15px;
	font-family:Impact;
	font-size:9pt;
}
div.zxj_SS7E_1_2 div
{
	position:relative;
	top:52px;
	left:10px;
	font-family:Impact;
	font-size:9pt;
}
div.zxj_SS7E_2
{
	background-image: url(image/SS7E.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
	filter: FlipH;
}
div.zxj_SS7E_2_1 div
{
	position:relative;
	top:70px;
	left:-8px;
	font-family:Impact;
	font-size:9pt;
}
div.zxj_SS7E_2_2 div
{
	position:relative;
	top:52px;
	left:16px;
	font-family:Impact;
	font-size:9pt;
}
/*SS7C*/
div.zxj_SS7C_1
{
	background-image: url(image/SS7C.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
}
div.zxj_SS7C_1_1 div
{
	position:relative;
	color: red;
	top:70px;
	left:-35px;
	font-family:Impact;
	font-size:9pt;
}
div.zxj_SS7C_1_2 div
{
	position:relative;
	color: red;
	top:52px;
	left:-5px;
	font-family:Impact;
	font-size:9pt;
}
div.zxj_SS7C_2
{
	background-image: url(image/SS7C.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
	filter: FlipH;
}
div.zxj_SS7C_2_1 div
{
	position:relative;
	color: red;
	top:70px;
	left:8px;
	font-family:Impact;
	font-size:9pt;
}
div.zxj_SS7C_2_2 div
{
	position:relative;
	color: red;
	top:52px;
	left:36px;
	font-family:Impact;
	font-size:9pt;
}
/*HXD1*/
div.zxj_HXD1_1
{
	background-image: url(image/HXD1.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
}
div.zxj_HXD1_1_1 div
{
	position:relative;
	color: orangered;
	top:70px;
	left:-26px;
	font-family:宋体;
	font-size:9pt;
}
div.zxj_HXD1_1_2 div
{
	position:relative;
	color:orangered;
	top:53px;
	left:6px;
	font-family:宋体;
	font-size:9pt;
}
div.zxj_HXD1_2
{
	background-image: url(image/HXD1.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
	filter: FlipH;
}
div.zxj_HXD1_2_1 div
{
	position:relative;
	color: orangered;
	top:70px;
	left:-4px;
	font-family:宋体;
	font-size:9pt;
}
div.zxj_HXD1_2_2 div
{
	position:relative;
	color: orangered;
	top:53px;
	left:28px;
	font-family:宋体;
	font-size:9pt;
}
/*HXD1C*/
div.zxj_HXD1C_1
{
	background-image: url(image/HXD1C.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
}
div.zxj_HXD1C_1_1 div
{
	position:relative;
	color: orangered;
	top:70px;
	left:-26px;
	font-family:宋体;
	font-size:9pt;
}
div.zxj_HXD1C_1_2 div
{
	position:relative;
	color:orangered;
	top:53px;
	left:8px;
	font-family:宋体;
	font-size:9pt;
}
div.zxj_HXD1C_2
{
	background-image: url(image/HXD1C.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
	filter: FlipH;
}
div.zxj_HXD1C_2_1 div
{
	position:relative;
	color: orangered;
	top:70px;
	left:-4px;
	font-family:宋体;
	font-size:9pt;
}
div.zxj_HXD1C_2_2 div
{
	position:relative;
	color: orangered;
	top:53px;
	left:30px;
	font-family:宋体;
	font-size:9pt;
}

/*HXD3*/
div.zxj_HXD3_1
{
	background-image: url(image/HXD3.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
}
div.zxj_HXD3_1_1 div
{
	position:relative;
	color: orangered;
	top:70px;
	left:-26px;
	font-family:宋体;
	font-size:9pt;
}
div.zxj_HXD3_1_2 div
{
	position:relative;
	color:orangered;
	top:53px;
	left:6px;
	font-family:宋体;
	font-size:9pt;
}
div.zxj_HXD3_2
{
	background-image: url(image/HXD3.jpg);
	background-repeat: no-repeat;
	background-position:right;
	width: 150px;
	height: 180px;
	filter: FlipH;
}
div.zxj_HXD3_2_1 div
{
	position:relative;
	color: orangered;
	top:70px;
	left:-4px;
	font-family:宋体;
	font-size:9pt;
}
div.zxj_HXD3_2_2 div
{
	position:relative;
	color: orangered;
	top:53px;
	left:28px;
	font-family:宋体;
	font-size:9pt;
}



div.zxj_wheel
{
	background-image: url(image/w2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 150px;
	height: 180px;
}
div.zxj_wheel input
{
	position:relative;
	width:37px;
	height:37px;
	cursor:hand;
	border-style:solid;
	border-width:0px;
	border-color:Black;
	background-color:Transparent;
	font-family:Wingdings 3;
	font-size:25pt;
}

div.zxj_desc
{
	background-color:Transparent;
	color:White;
	
	
	
}
input.wheel_right_0
{
	top:20px;
	left:37px;
	color:Green;
}
input.wheel_right_4
{
	top:20px;
	left:37px;
	color:Green;
}
input.wheel_right_3
{
	top:20px;
	left:37px;
	color:Blue;
}
input.wheel_right_2
{
	top:20px;
	left:37px;
	color:Yellow;
}
input.wheel_right_1
{
	top:20px;
	left:37px;
	color:Red;
}

input.wheel_left_0
{
	top:88px;
	left:37px;
	color:Green;
}
input.wheel_left_4
{
	top:88px;
	left:37px;
	color:Green;
}
input.wheel_left_3
{
	top:88px;
	left:37px;
	color:Blue;
}
input.wheel_left_2
{
	top:88px;
	left:37px;
	color:Yellow;
}
input.wheel_left_1
{
	top:88px;
	left:37px;
	color:Red;
}
div.content1
{
	margin:0px;
	padding:0px;
}
div.content2
{
	margin:0px;
	padding:0px;
}
div.content3
{
    margin :auto;
	padding:0px;
	width:220px;
    border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	
}
div.title
{
	background-image:url(image/bak.jpg);
	background-repeat:repeat-x;
	Height:30px;
	margin:0px;
	padding:0px;
	border-width:0px;
	text-align:center;
	
}
div.title_left
{
	float:left;
	background-image:url(image/bak_left.jpg);
	background-repeat:no-repeat;
	height:30px;
	width:27px;
	margin:0px;
	padding:0px;
	border-width:0px;
}
div.title_right
{
	float:right;
	background-image:url(image/bak_right.jpg);
	background-repeat:no-repeat;
	height:30px;
	width:27px;
	margin:0px;
	padding:0px;
	border-width:0px;
}
span.title
{
	position:relative;
	top:6px;
	font-size: 12pt;
	color: #ff6600;
	font-family: 宋体;
}
span.title2
{
	font-size: 12pt;
	color: #ff6600;
	font-family: 宋体;
}
span.title3
{
	font-size: 32pt;
	color: white;
	font-family: 宋体;
}
div.content
{
    margin :auto;
	padding:0px;
	width:980px;
    border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	
}
div.GridFoot
{
	text-align:right;
}
div.GridFoot span
{
	font-family: 宋体;
	color: #ff6600;
	font-size: 12pt;
	position:relative;
	left:-100px;
}

#list_review
{
	width:230px;
	height:605px;
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	float:left;
	text-align:left;
	
}

#wheel_review
{
	padding:0px;
	width:544px;
	height:605px;
	border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	float:left;

}
span.movieButton
{
	font-family:Webdings;
	color:Lime;
	font-size:24pt;
	cursor:hand;
}
span.wideButton
{
	font-family:Wingdings;
	color:Lime;
	font-size:24pt;
	cursor:hand;
}
	
/*车轮*/
#Panel_wheel
{
	margin:0px;
	border-width:0px;
	border-style:none;
	top:30px;
	left:0px;
	position:relative;
	width:540px;
	height:540px;
	background-image:url(image/BigWheel3.jpg);
}
#angle_line
{
	margin:0px;
	position:absolute;
	left:0px;
	top:60px;
}
/*探头支架轨道 */
#detector
{
	clear:left;
	border-color:Blue;
	border-width:1px;
	border-style:solid;
	height:80px;
	position:relative;
	background-color:Green;
	margin-left:9px;
	cursor:e-resize;

}
/*探头支架 */
div.zj
{
	border-color:Black;
	border-width:1px;
	border-style:solid;
	height:62px;
	width:198px;
	position:relative;
	background-color:Silver;
	margin:0px;
	float:left;
	text-align:left;
	cursor:e-resize;

}
#tb_pos
{
	font-family:Times New Roman;
	font-size:10pt;
	width:40px;
}
span.text1
{
	font-family:宋体;
	font-size:10pt;
	color:Yellow;
}
div.guidao
{
	border-color:red;
	border-width:1px;
	border-style:solid;
	height:62px;
	position:relative;
	background-color:Gray;
	margin:0px;
	float:left;
}
input.double_1_1
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:18px;
	width:18px;
	position:absolute;
	left:3px;
	top:15px;
	background-color:#583a1d;
	margin:0px;
	color:White;
	
}
input.double_1_2
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:18px;
	width:18px;
	position:absolute;
	left:53px;
	top:15px;
	background-color:#583a1d;
	margin:0px;
	color:White;
}
input.double_1_3
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:18px;
	width:18px;
	position:absolute;
	left:103px;
	top:15px;
	background-color:#583a1d;
	margin:0px;
	color:White;
}
input.double_1_4
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:18px;
	width:18px;
	position:absolute;
	left:153px;
	top:15px;
	background-color:#583a1d;
	margin:0px;
	color:White;
}
input.single_1_1
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:42px;
	width:27px;
	position:absolute;
	left:23px;
	top:6px;
	background-color:#583a1d;
	background-image:url(image/single_detector1.gif);
	margin:0px;
	color:White;
	padding-top:15px;
}
input.single_1_2
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:42px;
	width:27px;
	position:absolute;
	left:123px;
	top:6px;
	background-color:#583a1d;
	background-image:url(image/single_detector2.gif);
	margin:0px;
	color:White;
	padding-top:15px;
	
}
input.single_1_3
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:42px;
	width:27px;
	position:absolute;
	left:23px;
	top:6px;
	background-color:#583a1d;
	background-image:url(image/single_detector1.gif);
	margin:0px;
	color:White;
	padding-top:15px;
}
input.single_1_4
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:42px;
	width:27px;
	position:absolute;
	left:123px;
	top:6px;
	background-color:#583a1d;
	background-image:url(image/single_detector1.gif);
	margin:0px;
	color:White;
	padding-top:15px;
	
}
input.angle_1_1
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:18px;
	width:18px;
	position:absolute;
	left:78px;
	top:15px;
	background-color:#ede06d;
	margin:0px;
	color:#583a1d;
}
input.angle_1_2
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:18px;
	width:18px;
	position:absolute;
	left:178px;
	top:15px;
	background-color:#ede06d;
	margin:0px;
	color:#583a1d;
}

input.double_0_1
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:18px;
	width:18px;
	position:absolute;
	right:3px;
	top:15px;
	background-color:#583a1d;
	margin:0px;
	color:White;
	
}
input.double_0_2
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:18px;
	width:18px;
	position:absolute;
	right:53px;
	top:15px;
	background-color:#583a1d;
	margin:0px;
	color:White;
}
input.double_0_3
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:18px;
	width:18px;
	position:absolute;
	right:103px;
	top:15px;
	background-color:#583a1d;
	margin:0px;
	color:White;
}
input.double_0_4
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:18px;
	width:18px;
	position:absolute;
	right:153px;
	top:15px;
	background-color:#583a1d;
	margin:0px;
	color:White;
}
input.single_0_1
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:42px;
	width:27px;
	position:absolute;
	right:23px;
	top:6px;
	background-color:#583a1d;
	background-image:url(image/single_detector2.gif);
	margin:0px;
	color:White;
	padding-top:15px;
}
input.single_0_2
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:42px;
	width:27px;
	position:absolute;
	right:123px;
	top:6px;
	background-color:#583a1d;
	background-image:url(image/single_detector1.gif);
	margin:0px;
	color:White;
	padding-top:15px;
	
}
input.single_0_4
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:42px;
	width:27px;
	position:absolute;
	right:123px;
	top:6px;
	background-color:#583a1d;
	background-image:url(image/single_detector2.gif);
	margin:0px;
	color:White;
	padding-top:15px;
	
}
input.single_0_3
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:42px;
	width:27px;
	position:absolute;
	right:23px;
	top:6px;
	background-color:#583a1d;
	background-image:url(image/single_detector2.gif);
	margin:0px;
	color:White;
	padding-top:15px;
}
input.angle_0_1
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:18px;
	width:18px;
	position:absolute;
	right:78px;
	top:15px;
	background-color:#ede06d;
	margin:0px;
	color:#583a1d;
}
input.angle_0_2
{
	border-color:#583a1d;
	border-width:1px;
	border-style:solid;
	height:18px;
	width:18px;
	position:absolute;
	right:178px;
	top:15px;
	background-color:#ede06d;
	margin:0px;
	color:#583a1d;
}
span.zj_label
{
	position:absolute;
	left:98px;
	top:45px;
	font-family:Times New Roman;
	font-size:9pt;
	color:White;	
}
#flag_pen
{
	height:18px;
	width:15px;
	position:absolute;
	top:10px;
	background-color:Transparent;
	background-image:url(image/pen.gif);
	background-repeat:no-repeat;
}
#map_review
{
	float:left;
    border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	overflow:hidden;
}
#detector_double
{
	clear:left;
	float:left;
    border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	width:784px;
	margin-left:3px;
	
}
#detector_single
{
	float:left;
    border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	width:402px;
	margin-left:6px;
}
#detector_angle
{
	float:left;
    border-style:solid;
	border-width:1px;
	border-color:#5698F3;
	width:402px;
	margin-left:6px;
}
input.btG
{
	border-color:SeaGreen;
	border-style:outset;
	background-color:DarkGreen;
    Width:27px;
    Height:27px;
    font-size:9pt;
    color:Silver;

}
input.btR
{
	border-color:SeaGreen;
	border-style:outset;
	background-color:DarkRed;
    Width:27px;
    Height:27px;
    font-size:9pt;
    color:Silver;

}
input.btY
{
	border-color:SeaGreen;
	border-style:outset;
	background-color:DarkGoldenrod;
    Width:27px;
    Height:27px;
    font-size:9pt;
    color:Silver;

}
input.btB
{
	border-color:SeaGreen;
	border-style:outset;
	background-color:Blue;
    Width:27px;
    Height:27px;
    font-size:9pt;
    color:Silver;

}
input.btGa
{
	border-color:SeaGreen;
	border-style:inset;
	background-color:Lime;
    Width:27px;
    Height:27px;
    font-size:9pt;
    font-weight:bold;
    

}
input.btRa
{
	border-color:SeaGreen;
	border-style:inset;
	background-color:Red;
    Width:27px;
    Height:27px;
    font-size:9pt;
    font-weight:bold;

}
input.btYa
{
	border-color:SeaGreen;
	border-style:inset;
	background-color:Yellow;
    Width:27px;
    Height:27px;
    font-size:9pt;
    font-weight:bold;

}
input.btBa
{
	border-color:SeaGreen;
	border-style:inset;
	background-color:DeepSkyBlue;
    Width:27px;
    Height:27px;
    font-size:9pt;
    font-weight:bold;

}
input.btGa2
{
	border-color:Lime;
	border-style:outset;
	background-color:DarkGreen;
    Width:27px;
    Height:27px;
    color:Silver;
    

}
input.btRa2
{
	border-color:Lime;
	border-style:outset;
	background-color:DarkRed;
    Width:27px;
    Height:27px;
    color:Silver;

}
input.btYa2
{
	border-color:Lime;
	border-style:outset;
	background-color:DarkGoldenrod;
    Width:27px;
    Height:27px;
    font-size:9pt;
    color:Silver;

}
input.btBa2
{
	border-color:Lime;
	border-style:outset;
	background-color:Blue;
    Width:27px;
    Height:27px;
    font-size:9pt;
    color:Silver;

}
.user_manage
{
	border: 1px solid #5698F3;
width:779px;
    	margin-left: auto;
		margin-right: auto;
		text-align:center;	
}
a.user
{
	color:Yellow;
}
#slider-range
{
	width:500px;
	position:relative;
	top:-35px;
}
#chart_all
{
	position:relative;
	float:left;
	overflow:hidden;
	margin:0px;
	padding:0px;
	clear:left;
}
#chart_area
{
	margin:0px;
	padding:0px;
}
#controller /* 控制分析图拉伸的DIV*/
{
	text-align:center;
	margin:0px;
	padding:0px;
	position:absolute;
	top: 260px;
	left:0px;
	z-index:0;
	
	
}
#controller_up /* */
{
	text-align:center;
	margin:0px;
	padding:0px;
	position:absolute;
	top: 200px;
	left:-10px;
	z-index:0;
}
#controller_down /* */
{
	text-align:center;
	margin:0px;
	padding:0px;
	position:absolute;
	top: 310px;
	left:-10px;
	z-index:0;
}

#tb_flag /* 隐藏的TextBox 用来表示分析图是正常状态  还是拉伸状态*/
{
	background-color:#021929;
	border-style:none;
	color:#021929;
	
}

.whitelink:link, 
.whitelink:visited { 
color:#ffffff; 
text-decoration:none; 
} 
.whitelink:hover, 
.whitelink:active { 
color:#ff0000; 
text-decoration:underline; 
} 


.redlink:link, 
.redlink:visited { 
color:#FF0000; 
text-decoration:none; 
} 
.redlink:hover, 
.redlink:active { 
color:#000000; 
text-decoration:underline; 
background:#FFFFFF; 
} 
